dialog {
  min-width: 300px;
  max-width: 80%;
  border: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 0;
}
dialog[open] {
  animation: slide-up 0.4s ease-out;
}

dialog > div {
  display: grid;
  padding: 12px;
  grid-gap: 0.3em;
}

.dialog-title {
  text-align: center;
  font-size: 1.5rem;
  user-select: none;
}
.dialog-content {
  min-height: 100px;
  display: grid;
}
.dialog-footer {
  display: flex;
  justify-content: flex-end;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
@keyframes slide-up {
  0% {
    opacity: 0;
    top: 10%;
  }

  100% {
    opacity: 1;
    top: 0%;
  }
}
