* {
  user-select: none;
  font-family: Consolas, Microsoft Yahei;
}

.hide {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--ui-dark-blue);
  height: 60px;
}
.header > div {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  line-height: 60px;
  text-align: center;
  color: var(--ui-light);
  font-size: 20px;
}
.side {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 60px;
  width: 200px;
  z-index: 10;
  overflow-x: hidden;
  background-color: var(--ui-dark);
}
.side > *,
#links > a {
  height: 50px;
  display: block;
  position: relative;
  margin: 5px;
}
.body {
  position: absolute;
  top: 60px;
  padding-bottom: 44px;
  left: 200px;
  min-width: 1000px;
  right: 0;
  bottom: 0;
  overflow: scroll;
  width: auto;
  background-color: var(--ui-light);
  box-sizing: border-box;
}
.footer {
  position: fixed;
  left: 200px;
  right: 0;
  bottom: 0;
  z-index: 10;
  height: 44px;
  line-height: 44px;
  padding: 0 15px;
  font-size: 16px;
  box-shadow: -1px 0 4px rgb(0 0 0 / 12%);
  filter: contrast(0.5);
  background-color: var(--ui-light);
}

.ui-tab-content {
  margin: 10px;
}
thead > tr > th:nth-child(1) {
  max-width: 200px;
}

textarea {
  width: 100%;
  min-height: 100px;
  min-width: 100px;
}

.ui-tab-tab {
  margin: 0 20px 0 0;
  line-height: 40px;
  padding-top: 0;
  border-bottom: 0;
  margin-bottom: 0;
}

.ui-tab-tabs {
  flex-wrap: wrap;
  height: 100%;
}

input {
  width: 100%;
  min-width: 50px;
}
